@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

    *{ padding: 0; margin: 0; box-sizing: border-box; }
    a{ text-decoration: none; color: #333; }
    li{ list-style: none; }
    img{ border: none; vertical-align: top; }
    body{ font-family: 'Pretendard-Regular'; }
    .clearfix::after{ content: ''; display: block; clear: both; }

    .wrapper{
        width: 500px;
        margin: auto;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    }

    body{
        background-color: #f6f6f6;
    }

    /* header css */

    header{
        display: flex;
        border-bottom: 1px solid #61188B;
        justify-content: end;
        background-color: #fff;
    }

    .logo{
        width: 100px;
    }

    .adminLogo a{
        font-size: 20px;
        color: #61188B;
    }

    .gnb{
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        width: 200px;
    }

    .gnb ul{
        display: flex;
        height: 100%;
        justify-content: end;
        gap: 10px;
        margin-right: 10px;
        align-items: flex-end;
        padding-bottom: 5px;
    }

    .gnb a:hover{
        color: #61188B;
        font-weight: 900;
    }

    footer{
        width: 100%;
        height: 150px;
        border-top: 1px solid #61188B;
        background-color: darkorange;
        background-color: #ffffff;
    }

    .footer_nav ul{
        display: flex;
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;
    }

    .footer_nav a:hover{
        color: #61188B;
        font-weight: 900;
    }

    .jjim_info{
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        padding-top: 10px;
        padding-left: 10px;
    }
